.firstPanel-image {
  height: auto;
}

.second-panel {
  background: rgb(212, 225, 246);
  background: linear-gradient(
    0deg,
    rgba(212, 225, 246, 0.8) 45%,
    rgba(255, 255, 255, 1) 100%
  );
}
figure {
  position: relative;
}
figcaption {
  position: absolute;
  top: 15%;
}

.nostyle-anchor {
  text-decoration: none;
}

.stepcard_circle {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  padding: 20px 20px 40px 20px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  background-color: #ffb800;
}
